process {
  executor='slurm'
  queueSize = 15
  pollInterval = '5 min'
  dumpInterval = '6 min'
  queueStatInterval = '5 min'
  exitReadTimeout = '13 min'
  killBatchSize = 30
  submitRateLimit = '20 min'
  clusterOptions = '-q compute -t 00:30:00'
  withName: SplitLetters {
    cluster = [
      'name=cluster1',
      'user=centos',
      'address=ec2-63-34-85-93.eu-west-1.compute.amazonaws.com',
      'ssh_path=/opt/rabbitmq/keys/heroes_tech.pem'
    ]
    container = '/efs/work/ucit1/jremy1/wf1/alpine.3.8.simg'
  }
  withName: ConvertToUpper {
    cluster = [
      'name=cluster2',
      'user=centos',
      'address=ec2-54-220-255-126.eu-west-1.compute.amazonaws.com',
      'ssh_path=/opt/rabbitmq/keys/heroes_tech.pem'
    ]
    container = '/efs/work/ucit1/jremy1/wf1/alpine.3.8.simg'
  }
}

profiles {
        singularity {
                singularity.enabled=true
                singularity.runOptions = '-B /efs/work:/efs/work'
        }
}
